.course-details {
  min-height: 100vh;

  padding: 50px 0;

  background: #030712;

  color: white;
}

.details-image {
  width: 100%;

  border-radius: 20px;

  height: 400px;

  object-fit: cover;
}

.details-card {
  background: #071225;

  padding: 30px;

  border-radius: 20px;
}

.details-card h2 {
  margin-top: 30px;

  color: #00aaff;
}

.details-card button {
  margin-top: 25px;

  width: 100%;

  padding: 14px;

  background: linear-gradient(90deg, #0066ff, #00aaff);

  border: none;

  border-radius: 10px;

  color: white;
}

.start-btn {
  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 10px;

  background: linear-gradient(90deg, #16a34a, #22c55e);

  color: white;

  font-weight: 600;
}

.course-buttons {
  display: flex;

  gap: 15px;

  margin-top: 25px;
}

.edit-btn,
.publish-btn,
.buy-btn,
.start-btn {
  flex: 1;

  height: 55px;

  border: none;

  border-radius: 12px;

  color: white;

  font-weight: 600;
}

.edit-btn {
  background: linear-gradient(90deg, #2563eb, #3b82f6);
}

.publish-btn {
  background: linear-gradient(90deg, #16a34a, #22c55e);
}

.buy-btn {
  background: linear-gradient(90deg, #0066ff, #00aaff);
}

.start-btn {
  background: linear-gradient(90deg, #9333ea, #7c3aed);
}
