.course-details {
  height: 100vh;

  padding: 40px 0;

  background: #030712;

  color: white;

  overflow: hidden;
}

.details-left {
  display: flex;

  flex-direction: column;

  height: 100%;
}

.details-image {
  width: 100%;

  border-radius: 20px;

  height: 400px;

  object-fit: cover;

  margin-bottom: 20px;
}

.details-card {
  background: #071225;

  padding: 30px;

  border-radius: 20px;

  height: 85vh;

  overflow-y: auto;

  scrollbar-width: thin;

  scrollbar-color: #2563eb transparent;
}

.details-card::-webkit-scrollbar {
  width: 6px;
}

.details-card::-webkit-scrollbar-thumb {
  background: #2563eb;

  border-radius: 20px;
}

.details-card h1 {
  font-size: 32px;

  margin-bottom: 10px;
}

.details-card h5 {
  color: #94a3b8;

  margin-bottom: 20px;
}

.details-card h2 {
  margin-top: 25px;

  color: #00aaff;
}

.course-buttons {
  display: flex;

  gap: 15px;

  margin-top: auto;
}

.edit-btn,
.publish-btn,
.buy-btn,
.start-btn {
  flex: 1;

  height: 55px;

  border: none;

  border-radius: 12px;

  color: white;

  font-weight: 600;
}

.edit-btn {
  background: linear-gradient(90deg, #2563eb, #3b82f6);
}

.publish-btn {
  background: linear-gradient(90deg, #16a34a, #22c55e);
}

.buy-btn {
  background: linear-gradient(90deg, #0066ff, #00aaff);
}

.start-btn {
  background: linear-gradient(90deg, #9333ea, #7c3aed);
}

@media (max-width: 768px) {
  .course-details {
    height: auto;

    overflow: auto;

    padding: 100px 15px;
  }

  .details-image {
    height: 250px;
  }

  .details-card {
    margin-top: 20px;

    height: auto;

    overflow: visible;
  }

  .course-buttons {
    flex-direction: column;
  }
}
